interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://diavgeia.gov.gr/opendata/decisions/%CE%9546%CE%A5469%CE%927%CE%9B-%CE%91%CE%9D%CE%A1
  response:
    body:
      string: "{\"protocolNumber\":\"\u03A3\u03A5\u039C\u0392\u039F\u03A5\u039B\u0399\u039F
        \u039A.\u0395.\u0394\u0399.\u0392\u0399.\u039C. \u03A0\u03A1\u0391\u039A\u03A4\u0399\u0399\u039A\u0391
        \u03A4\u0391\u039A\u03A4\u0399\u0399\u039A\u0397\u03A3 \u03A3\u03A5\u039D\u0395\u0394\u03A1\u0399\u0399\u0391\u03A3\u0397\u03A3
        \u03B1\u03C1\u03B9\u03B9\u03B8\u03BC.. 5\u03B7//24..01..2025 1 \u0398\u03AD\u03BC\u03B1
        4\u03BF: \u0395\u03C0\u03B9\u03BC\u03BF\u03C1\u03C6\u03C9\u03C4\u03B9\u03BA\u03AC
        / \u0395\u03BA\u03C0\u03B1\u03B9\u03B4\u03B5\u03C5\u03C4\u03B9\u03BA\u03AC
        \u03A0\u03C1\u03BF\u03B3\u03C1\u03AC\u03BC\u03BC\u03B1\u03C4\u03B1 4.3:\u0395\u03BE\u03AD\u03C4\u03B1\u03C3\u03B7
        \u03B1\u03B9\u03C4\u03B7\u03BC\u03AC\u03C4\u03C9\u03BD \u03C0\u03B5\u03C1\u03AF
        \u03AD\u03B3\u03BA\u03C1\u03B9\u03C3\u03B7\u03C2 \u03AF\u03B4\u03C1\u03C5\u03C3\u03B7\u03C2
        \u03BD\u03AD\u03C9\u03BD \u0395\u03C0\u03B9\u03BC\u03BF\u03C1\u03C6\u03C9\u03C4\u03B9\u03BA\u03CE\u03BD
        \u03A0\u03C1\u03BF\u03B3\u03C1\u03B1\u03BC\u03BC\u03AC\u03C4\u03C9\u03BD \u03BC\u03B5
        \u0395.\u03A5. \u03C4\u03BF\u03BD \u0391\u03BD\u03B1\u03C0\u03BB\u03B7\u03C1\u03C9\u03C4\u03AE
        \u039A\u03B1\u03B8\u03B7\u03B3\u03B7\u03C4\u03AE \u03A0\u03B1\u03BD\u03B1\u03B3\u03B9\u03CE\u03C4\u03B7
        \u03A3\u03C5\u03BC\u03B5\u03C9\u03BD\u03AF\u03B4\u03B7\",\"subject\":\"\u03A3\u03A5\u039C\u0392\u039F\u03A5\u039B\u0399\u039F
        \u039A.\u0395.\u0394\u0399.\u0392\u0399.\u039C.\\n\u03A0\u03A1\u0391\u039A\u03A4\u0399\u0399\u039A\u0391
        \u03A4\u0391\u039A\u03A4\u0399\u039A\u0397\u03A3 \u03A3\u03A5\u039D\u0395\u0394\u03A1\u0399\u0391\u03A3\u0397\u03A3
        \u03B1\u03C1\u03B9\u03B8\u03BC.. 5\u03B7/24.01.2025\\n\u0398\u03AD\u03BC\u03B1
        4\u03BF: \u0395\u03C0\u03B9\u03BC\u03BF\u03C1\u03C6\u03C9\u03C4\u03B9\u03BA\u03AC
        / \u0395\u03BA\u03C0\u03B1\u03B9\u03B4\u03B5\u03C5\u03C4\u03B9\u03BA\u03AC
        \u03A0\u03C1\u03BF\u03B3\u03C1\u03AC\u03BC\u03BC\u03B1\u03C4\u03B1\\n4.3:\u0395\u03BE\u03AD\u03C4\u03B1\u03C3\u03B7
        \u03B1\u03B9\u03C4\u03B7\u03BC\u03AC\u03C4\u03C9\u03BD \u03C0\u03B5\u03C1\u03AF
        \u03AD\u03B3\u03BA\u03C1\u03B9\u03C3\u03B7\u03C2 \u03AF\u03B4\u03C1\u03C5\u03C3\u03B7\u03C2
        \u03BD\u03AD\u03C9\u03BD \u0395\u03C0\u03B9\u03BC\u03BF\u03C1\u03C6\u03C9\u03C4\u03B9\u03BA\u03CE\u03BD
        \u03A0\u03C1\u03BF\u03B3\u03C1\u03B1\u03BC\u03BC\u03AC\u03C4\u03C9\u03BD \u03BC\u03B5
        \u0395.\u03A5. \u03C4\u03BF\u03BD \u0391\u03BD\u03B1\u03C0\u03BB\u03B7\u03C1\u03C9\u03C4\u03AE
        \u039A\u03B1\u03B8\u03B7\u03B3\u03B7\u03C4\u03AE \u03A0\u03B1\u03BD\u03B1\u03B3\u03B9\u03CE\u03C4\u03B7
        \u03A3\u03C5\u03BC\u03B5\u03C9\u03BD\u03AF\u03B4\u03B7\",\"issueDate\":1737676800000,\"organizationId\":\"99206911\",\"signerIds\":[\"100002143\"],\"unitIds\":[\"100046074\"],\"decisionTypeId\":\"2.4.7.1\",\"thematicCategoryIds\":[\"24\"],\"extraFieldValues\":{\"kanonistikipraxitype\":\"\u03A0\u03C1\u03AC\u03BE\u03B7
        \u039F\u03C1\u03B3\u03AC\u03BD\u03BF\u03C5 \u0394\u03B9\u03BF\u03AF\u03BA\u03B7\u03C3\u03B7\u03C2
        \u039D.\u03A0.\u0394.\u0394.\",\"kanonistikiPraxiPublishMedium\":null,\"fek\":null,\"relatedDecisions\":[],\"documentType\":\"\u03A0\u03A1\u0391\u039E\u0397\",\"co_competent\":null},\"privateData\":false,\"ada\":\"\u039546\u03A5469\u03927\u039B-\u0391\u039D\u03A1\",\"publishTimestamp\":1737730599829,\"submissionTimestamp\":1737730599829,\"versionId\":\"0c28b90a-4113-4f67-8735-3c7c2fc79bac\",\"status\":\"PUBLISHED\",\"url\":\"https://diavgeia.gov.gr/luminapi/api/decisions/\u039546\u03A5469\u03927\u039B-\u0391\u039D\u03A1\",\"documentUrl\":\"https://diavgeia.gov.gr/doc/\u039546\u03A5469\u03927\u039B-\u0391\u039D\u03A1\",\"documentChecksum\":null,\"attachments\":[],\"warnings\":null,\"correctedVersionId\":null}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diavgeia.gov.gr/opendata/organizations/99206911
  response:
    body:
      string: "{\"uid\":\"99206911\",\"label\":\"\u03A0\u0391\u039D\u0395\u03A0\u0399\u03A3\u03A4\u0397\u039C\u0399\u039F
        \u0391\u0399\u0393\u0391\u0399\u039F\u03A5\",\"abbreviation\":null,\"latinName\":\"aegean\",\"status\":\"active\",\"category\":\"UNIVERSITY\",\"vatNumber\":\"090166310\",\"fekNumber\":\"31\",\"fekIssue\":\"fektype_A\",\"fekYear\":\"1984\",\"odeManagerEmail\":\"xort@aegean.gr\",\"website\":\"http://www.aegean.gr\",\"supervisorId\":\"100081880\",\"supervisorLabel\":\"\u03A5\u03A0\u039F\u03A5\u03A1\u0393\u0395\u0399\u039F
        \u03A0\u0391\u0399\u0394\u0395\u0399\u0391\u03A3, \u0398\u03A1\u0397\u03A3\u039A\u0395\u03A5\u039C\u0391\u03A4\u03A9\u039D
        \u039A\u0391\u0399 \u0391\u0398\u039B\u0397\u03A4\u0399\u03A3\u039C\u039F\u03A5\",\"organizationDomains\":[]}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diavgeia.gov.gr/opendata/signers/100002143
  response:
    body:
      string: "{\"uid\":\"100002143\",\"firstName\":\"\u0391\u039B\u0399\u0392\u0399\u0396\u039F\u03A3\",\"lastName\":\"\u03A3\u039F\u03A6\u039F\u03A3\",\"active\":true,\"activeFrom\":1409529600000,\"activeUntil\":32503672800619,\"organizationId\":\"99206911\",\"hasOrganizationSignRights\":false,\"units\":[{\"uid\":\"76573\",\"positionId\":\"POS_10117\",\"positionLabel\":\"\u03A0\u03C1\u03CC\u03B5\u03B4\u03C1\u03BF\u03C2
        \u03A4\u03BC\u03AE\u03BC\u03B1\u03C4\u03BF\u03C2\",\"activationDate\":null,\"deactivationDate\":null},{\"uid\":\"76573\",\"positionId\":\"100032021\",\"positionLabel\":\"\u0391\u03BD\u03B1\u03C0\u03BB\u03B7\u03C1\u03C9\u03C4\u03AE\u03C2
        \u03A0\u03C1\u03CC\u03B5\u03B4\u03C1\u03BF\u03C2 \u03A4\u03BC\u03AE\u03BC\u03B1\u03C4\u03BF\u03C2\",\"activationDate\":null,\"deactivationDate\":null},{\"uid\":\"76534\",\"positionId\":\"POS_10065\",\"positionLabel\":\"\u039A\u03BF\u03C3\u03BC\u03AE\u03C4\u03BF\u03C1\u03B1\u03C2
        \u03A3\u03C7\u03BF\u03BB\u03AE\u03C2\",\"activationDate\":null,\"deactivationDate\":null},{\"uid\":\"100046074\",\"positionId\":\"POS_10082\",\"positionLabel\":\"\u0391\u03BD\u03B1\u03C0\u03BB\u03B7\u03C1\u03C9\u03C4\u03AE\u03C2
        \u03A0\u03C1\u03CC\u03B5\u03B4\u03C1\u03BF\u03C2\",\"activationDate\":null,\"deactivationDate\":null},{\"uid\":\"76534\",\"positionId\":\"POS_10129\",\"positionLabel\":\"\u039A\u03BF\u03C3\u03BC\u03AE\u03C4\u03BF\u03C1\u03B1\u03C2\",\"activationDate\":null,\"deactivationDate\":null}]}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://diavgeia.gov.gr/opendata/units/100046074
  response:
    body:
      string: "{\"uid\":\"100046074\",\"label\":\"\u039A\u0395\u039D\u03A4\u03A1\u039F
        \u0395\u03A0\u0399\u039C\u039F\u03A1\u03A6\u03A9\u03A3\u0397\u03A3 \u039A\u0391\u0399
        \u0394\u0399\u0391 \u0392\u0399\u039F\u03A5 \u039C\u0391\u0398\u0397\u03A3\u0397\u03A3
        (\u039A.\u0395.\u0394\u0399.\u0392\u0399.\u039C.)\",\"abbreviation\":null,\"category\":\"UNIT\",\"unitDomains\":null,\"active\":true,\"activeFrom\":1553558400000,\"activeUntil\":null,\"parentId\":\"99206911\"}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diavgeia.gov.gr/opendata/units/99206911
  response:
    body:
      string: '{"description":"Resource not found","user":null,"errors":[{"errorCode":"","errorMessage":"Unit
        with id:99206911 not found","errorDetails":null,"canBeIgnored":false}],"exception":"ResourceNotFoundException"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 404
      message: Not Found
version: 1
