interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://diavgeia.gov.gr/opendata/types
  response:
    body:
      string: "{\"decisionTypes\":[{\"uid\":\"2.4.1\",\"label\":\"\u03A0\u03A1\u0391\u039E\u0395\u0399\u03A3
        \u039A\u0391\u039D\u039F\u039D\u0399\u03A3\u03A4\u0399\u039A\u039F\u03A5 \u03A0\u0395\u03A1\u0399\u0395\u03A7\u039F\u039C\u0395\u039D\u039F\u03A5,
        \u0395\u0393\u039A\u03A5\u039A\u039B\u0399\u039F\u0399, \u0393\u039D\u03A9\u039C\u039F\u0394\u039F\u03A4\u0397\u03A3\u0395\u0399\u03A3\",\"parent\":null,\"allowedInDecisions\":false},{\"uid\":\"2.4.2\",\"label\":\"\u03A0\u03A1\u0391\u039E\u0395\u0399\u03A3
        \u039F\u0399\u039A\u039F\u039D\u039F\u039C\u0399\u039A\u039F\u03A5 \u03A0\u0395\u03A1\u0399\u0395\u03A7\u039F\u039C\u0395\u039D\u039F\u03A5\",\"parent\":null,\"allowedInDecisions\":false},{\"uid\":\"2.4.3\",\"label\":\"\u03A0\u03A1\u0391\u039E\u0395\u0399\u03A3
        \u039F\u03A1\u0393\u0391\u039D\u03A9\u03A4\u0399\u039A\u039F\u03A5 \u039A\u0391\u0399
        \u0394\u0399\u039F\u0399\u039A\u0397\u03A4\u039[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diavgeia.gov.gr/opendata/types/2.4.1/details
  response:
    body:
      string: "{\"uid\":\"2.4.1\",\"label\":\"\u03A0\u03A1\u0391\u039E\u0395\u0399\u03A3
        \u039A\u0391\u039D\u039F\u039D\u0399\u03A3\u03A4\u0399\u039A\u039F\u03A5 \u03A0\u0395\u03A1\u0399\u0395\u03A7\u039F\u039C\u0395\u039D\u039F\u03A5,
        \u0395\u0393\u039A\u03A5\u039A\u039B\u0399\u039F\u0399, \u0393\u039D\u03A9\u039C\u039F\u0394\u039F\u03A4\u0397\u03A3\u0395\u0399\u03A3\",\"parent\":null,\"allowedInDecisions\":false,\"extraFields\":[]}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diavgeia.gov.gr/opendata/types/%CE%91.1.1/details
  response:
    body:
      string: "{\"uid\":\"\u0391.1.1\",\"label\":\"\u039D\u039F\u039C\u039F\u03A3\",\"parent\":null,\"allowedInDecisions\":true,\"extraFields\":[{\"uid\":\"fek\",\"label\":\"\u03A3\u03C4\u03BF\u03B9\u03C7\u03B5\u03AF\u03B1
        \u03A6\u0395\u039A (\u0391\u03C1., \u03A4\u03B5\u03CD\u03C7\u03BF\u03C2, \u0388\u03C4\u03BF\u03C2)\",\"help\":\"\u03A3\u03C4\u03BF\u03C7\u03B5\u03AF\u03B1
        \u03A6\u0395\u039A (\u0391\u03C1.,\u03C4\u03B5\u03CD\u03C7\u03BF\u03C2 \u03BA\u03B1\u03B9
        \u03AD\u03C4\u03BF\u03C2 \u03C4\u03BF\u03C5 \u03A6\u03CD\u03BB\u03BB\u03BF\u03C5
        \u03C4\u03B7\u03C2 \u0395\u03C6\u03B7\u03BC\u03B5\u03C1\u03AF\u03B4\u03BF\u03C2
        \u039A\u03C5\u03B2\u03B5\u03C1\u03BD\u03AE\u03C3\u03B5\u03C9\u03C2\",\"type\":\"object\",\"validation\":null,\"required\":true,\"multiple\":false,\"maxLength\":0,\"dictionary\":null,\"searchTerm\":null,\"relAdaDecisionTypes\":null,\"relAdaConstrainedInOrganization\":null,\"fixedValueList\":null,\"nestedFields\":[{\"uid\":\"aa\",\"label\":\"\u0391\u03C1.
        \u03A6\u0395\u039A\",\"help\":\"\u0395\u03B9\u03C3\u03AC\u03B3\u03B5\u03C4\u03B5
        \u03C4\u03BF\u03BD \u03B1\u03C1\u03B9\u03B8\u03BC\u03CC \u03C4\u03BF\u03C5
        \u03A6\u0395\u039A, \u03CC\u03C0\u03BF\u03C5 \u03C0\u03B5\u03C1\u03B9\u03BB\u03B1\u03BC\u03B2\u03AC\u03BD\u03B5\u03C4\u03B1\u03B9
        \u03BF \u039D\u03CC\u03BC\u03BF\u03C2\",\"type\":\"string\",\"validation\":null,\"required\":true,\"multiple\":false,\"maxLength\":5,\"dict[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diavgeia.gov.gr/opendata/types/%CE%91.3/details
  response:
    body:
      string: "{\"uid\":\"\u0391.3\",\"label\":\"\u0395\u0393\u039A\u03A5\u039A\u039B\u0399\u039F\u03A3\",\"parent\":null,\"allowedInDecisions\":true,\"extraFields\":[{\"uid\":\"onomaEgkykliou\",\"label\":\"\u0391\u03C1.
        \u0395\u03B3\u03BA\u03C5\u03BA\u03BB\u03AF\u03BF\u03C5\",\"help\":\"\u0395\u03B9\u03C3\u03AC\u03B3\u03B5\u03C4\u03B5
        \u03[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diavgeia.gov.gr/opendata/types/100/details
  response:
    body:
      string: "{\"uid\":\"100\",\"label\":\"\u03A0\u03A1\u0391\u039E\u0397 \u03A0\u039F\u03A5
        \u0391\u03A6\u039F\u03A1\u0391 \u03A3\u0395 \u0398\u0395\u03A3\u0397 \u0393\u0395\u039D\u0399\u039A\u039F\u03A5
        - \u0395\u0399\u0394\u0399\u039A\u039F\u03A5 \u0393\u03A1\u0391\u039C\u039C\u0391\u03A4\u0395\u0391
        - \u039C\u039F\u039D\u039F\u039C\[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://diavgeia.gov.gr/opendata/types/2.4.7.1/details
  response:
    body:
      string: "{\"uid\":\"2.4.7.1\",\"label\":\"\u039B\u039F\u0399\u03A0\u0395\u03A3
        \u0391\u03A4\u039F\u039C\u0399\u039A\u0395\u03A3 \u0394\u0399\u039F\u0399\u039A\u0397\u03A4\u0399\u039A\u0395\u03A3
        \u03A0\u03A1\u0391\u039E\u0395\u0399\u03A3\",\"parent\":null,\"allowedInDecisions\":true,\"extraFields\":[{\"uid\":\"kanonistikipraxitype\",\"[...]
[...]
